<div class="gen-mega-menu">
    <div class="gen-mega-menu__container gen-container--fluid">
        <div class="gen-mega-menu__inner gen:w-full">
            <ul class="gen-sub-menu gen-sub-menu--level-1">
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">product
                    layout</a>
                <ul class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">
                        Default layout
                        <span
                        class="gen-menu-badge gen-menu-badge--hot"
                        style="--badge: &quot;hot&quot;;"></span>
                    </a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">
                        Full width
                        <span
                        class="gen-menu-badge gen-menu-badge--new"
                        style="--badge: &quot;new&quot;;"></span>
                    </a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Full
                        container</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        detail digital</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Default
                        tab</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Tab
                        accordion</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Open all
                        tab</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Tab accordion
                        inner</a>
                    </li>
                </ul>
                </li>
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">product
                    features</a>
                <ul
                    class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Compare
                        color</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Ask a
                        question</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Pickup
                        available</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Share
                        products</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        pre-orders</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Terms And
                        Conditions</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product left
                        sidebar</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product right
                        sidebar</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        drawer sidebar</a>
                    </li>
                </ul>
                </li>
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">Product
                    Details</a>
                <ul
                    class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Real time
                        visitor</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Buy now
                        button</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Swatch
                        images</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Color
                        swatch</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Text
                        swatch</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Swatch
                        radio</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Swatch
                        dropdown</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Trust
                        badge</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Sticky add to
                        cart</a>
                    </li>
                </ul>
                </li>
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">Thumbnails
                    Position</a>
                <ul
                    class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Thumbnails
                        left</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Thumbnails
                        right</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Thumbnails
                        bottom</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Default
                        thumb</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">No
                        thumbnails</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Grid 1
                        column</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Grid 2
                        column</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Inner zoom
                        1</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Inner zoom
                        2</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">External
                        zoom</a>
                    </li>
                </ul>
                </li>
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">Boot Sale</a>
                <ul
                    class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Countdown
                        timers</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Stock
                        countdown</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Variant image
                        group</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        sticky</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Frequently
                        bought together</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Advanced
                        Custom Fields</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Size
                        guide</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Dynamic
                        checkout buttons</a>
                    </li>
                </ul>
                </li>
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">Product Types</a>
                <ul
                    class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Simple
                        product</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Variable
                        product</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        3d</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        video</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        grouped</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#"
                        class="gen-menu__link">External/Affiliate
                        product</a>
                    </li>
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-2">
                    <a href="#" class="gen-menu__link">Product
                        lightbox image</a>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</div>