<div>
    <div class="gen-mega-menu__container gen-container--fluid">
        <div class="gen-mega-menu__inner">
            <ul class="gen-sub-menu gen-sub-menu--level-1">
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">shop layout</a>
                <ul
                    class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Filter left
                        sidebar</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Filter right
                        sidebar</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Canvas
                        sidebar</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Dropdown
                        sidebar</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Grid 2
                        columns</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Grid 3
                        columns</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">List view</a>
                    </li>
                </ul>
                </li>
                <li
                class="gen-sub-menu__item gen-sub-menu__item--level-1">
                <a href="#" class="gen-menu__link">Shop pages</a>
                <ul
                    class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Collection
                        list</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Collection
                        list 2</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Panigation
                        page</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Load more
                        button</a>
                    </li>
                    <li class="gen-sub-menu__item">
                    <a href="#" class="gen-menu__link">Infinite
                        scrolling</a>
                    </li>
                </ul>
                </li>
            </ul>
            <div class="gen-mega-menu__content">
                <div class="gen:grid gen:grid-cols-3 gen:gap-30">
                <div
                    class="gen-collection-card gen-observed gen-fadeInUp">
                    <div class="gen-collection-card__inner">
                    <a href="#" class="gen-collection-card__img">
                        <figure style="--aspect-ratio: 242/303">
                        <img src="imgs/blazer-header.png" alt>
                        </figure>
                    </a>
                    <div
                        class="gen-collection-card__info gen-collection-card__info--overlap gen-text-center">

                        <div
                        class="gen-collection-card__subtitle gen-text--lg"></div>

                        <h3
                        class="gen-collection-card__title gen-text--lg">
                        <a href="#"></a>
                        </h3>

                        <a href="#"
                        class="gen-btn gen-btn--white gen-rounded--full gen-btn--sm">Blazers</a>
                    </div>
                    </div>
                </div> <div
                    class="gen-collection-card gen-observed gen-fadeInUp">
                    <div class="gen-collection-card__inner">
                    <a href="#" class="gen-collection-card__img">
                        <figure style="--aspect-ratio: 242/303">
                        <img src="imgs/underwear-header.png" alt>
                        </figure>
                    </a>
                    <div
                        class="gen-collection-card__info gen-collection-card__info--overlap gen-text-center">

                        <div
                        class="gen-collection-card__subtitle gen-text--lg"></div>

                        <h3
                        class="gen-collection-card__title gen-text--lg">
                        <a href="#"></a>
                        </h3>

                        <a href="#"
                        class="gen-btn gen-btn--white gen-rounded--full gen-btn--sm">Underwear</a>
                    </div>
                    </div>
                </div> <ul
                    class="gen-sub-menu__item gen-sub-menu__item--level-1">
                    <li
                    class="gen-sub-menu__item gen-sub-menu__item--level-1">
                    <a href="#" class="gen-menu__link">Top rate</a>
                    <ul
                        class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                        <li class="gen-sub-menu__product-card">
                        <a href="#"
                            class="gen-sub-menu__product-card-thumb">
                            <figure style="--aspect-ratio: 65/82">
                            <img src="imgs/product-header-1.png"
                                alt>
                            </figure>
                        </a>
                        <div
                            class="gen-sub-menu__product-card-content">
                            <h3
                            class="gen-sub-menu__product-card-title">
                            <a href="#">Frances lady jacket in
                                maritime tweed</a>
                            </h3>
                            <div
                            class="gen-sub-menu__product-card-price">
                            $129.95
                            </div>
                        </div>
                        </li>
                        <li class="gen-sub-menu__product-card">
                        <a href="#"
                            class="gen-sub-menu__product-card-thumb">
                            <figure style="--aspect-ratio: 65/82">
                            <img src="imgs/product-header-2.png"
                                alt>
                            </figure>
                        </a>
                        <div
                            class="gen-sub-menu__product-card-content">
                            <h3
                            class="gen-sub-menu__product-card-title">
                            <a href="#">Slim-fit tuxedo vest in city
                                crepe</a>
                            </h3>
                            <div
                            class="gen-sub-menu__product-card-price">
                            $118.00
                            </div>
                        </div>
                        </li>
                        <li class="gen-sub-menu__product-card">
                        <a href="#"
                            class="gen-sub-menu__product-card-thumb">
                            <figure style="--aspect-ratio: 65/82">
                            <img src="imgs/product-header-3.png"
                                alt>
                            </figure>
                        </a>
                        <div
                            class="gen-sub-menu__product-card-content">
                            <h3
                            class="gen-sub-menu__product-card-title">
                            <a href="#">Cable-knit cardigan
                                sweater</a>
                            </h3>
                            <div
                            class="gen-sub-menu__product-card-price">
                            $138.00
                            </div>
                        </div>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>