<div class="gen-mega-menu">
<div class="gen-mega-menu__container gen-container--fluid">
    <div class="gen-mega-menu__inner gen:w-full">
        <ul
            class="gen-sub-menu gen-sub-menu--level-1 gen-sub-menu--grid gen:grid-cols-5 gen:gap-30">
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li
            class="gen-sub-menu__item gen-sub-menu__item--level-1">
            <a href="#">
                <img src="../imgs/homepage-thumb.jpg" alt>
            </a>
            </li>
            <li class="gen:text-center gen:col-span-full">
            <a href="#"
                class="gen-btn gen-btn--dark gen-rounded--full gen-btn--lg">View
                all demos (24)</a>
            </li>
        </ul>
    </div>
</div>
</div>